* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border: none;
}

:root{
  --text-white: rgba(255, 255, 255, 0.932);
  --bg-green-opaque: rgba(16, 43, 23, 0.911);
  --bg-burnt: #8a33249a;
  --bg-burnt2: #8a3324e8;

}

body {
  background-image: url('../images/green-bg.jpg');
}

header {  
  background-color: var(--bg-green-opaque);
  height: 80px;  
}

header > h1 {
  font-size: 2.5rem;
  color: var(--text-white);
  padding-left: 1.5%;
  padding-top: 7px;
  display: block;  
}

main {
  display: flex;
  flex-direction: row;
}

.technical {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: var(--bg-green-opaque);
  justify-content: flex-start;
  height: max(max-content, calc(100vh - 100px));
}

.newBookField, .sortField {
  padding: 4% 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
}

label, fieldset > p {
  color: var(--text-white);
  padding: 3px 0;
  font-size: 1.3rem;
  border: none;
  text-align: center;
}

input, button {
  width: 60%;
  margin: 5px 0;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
}

.disclaimer {
  background-color: var(--bg-green-opaque);
  color: var(--text-white);
  text-align: center;
  height: 20px;
  font-size: 0.6rem;
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.disclaimer > a {
  color:var(--text-white);
  font-size: 0.6rem;
}

.disclaimer > a:hover {
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.disclaimer > a:active {
  color:aqua;
}

.libCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  width: 79.25%;
  height:calc(100vh - 100px);
  overflow-y: scroll;
  margin: 5px 0;
}

.libCards > div {
  border: 4px solid gray;
  border-radius: 8px;
  padding: 10px;
  background: var(--text-white);
  box-shadow: rgb(22, 22, 22) 5px 5px, rgba(37, 37, 37, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
  margin: 20px;
  height: min-content;
  background-image: url('../images/legit-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



.catTile {
  background-color: var(--bg-burnt) ;
  padding: 4px;
  width: fit-content;
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 2.6px;
  border-radius: 3px;  
}

.tileButton {
  background-color: var(--bg-burnt);
  text-decoration: underline;
  width: min(40% fit-content);
  box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 2.6px;
}

.tileButton:hover, button:hover {
  transform: scale(103%);
}

button:active {
  transform: scale(97%);
}

.tileButton:active {
  background-color: var(--bg-burnt2);
}

@media screen and (max-width: 600px) {

  * {
    font-size: 15px;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 50px;
  }

  header > h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  main {
    flex-direction: column;
  }

  .technical {
    width: 100%;
  }
  
  .disclaimer {
    position:initial;
  }

  .libCards {
    display: flex;
    flex-direction:column;
    width: 100%;
    height: fit-content;    
  }
}